<div class="site-blocks-cover overlay inner-page" style="background-image: url(assets/images/wood-cover.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <h1>Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>  

<div class="site-half">
    <div class="img-bg-1" style="background-image: url('images/hero_bg_1.jpg');"></div>
    <div class="container">
      <div class="row no-gutters align-items-stretch">
        <div class="col-md-12 col-lg-7 ml-lg-auto py-5">
          <span class="sub-title">Privacy Policy</span>
          <h2 class="font-weight-bold text-black font-secondary mb-4">Privacy Policy</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid eius facilis voluptatem eligendi magnam accusamus vel commodi asperiores sint rem reprehenderit nobis nesciunt veniam qui fugit doloremque numquam quod.</p>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora distinctio ipsam nesciunt recusandae repellendus asperiores amet.</p>  

          <ul class="list-unstyled ul-check primary">
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>Consectetur tempora distinctio ipsam</li>
            <li>Recusandae repellendus asperiores amet</li>
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>Consectetur tempora distinctio ipsam</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

