<div class="site-navbar-wrap">
  <div class="site-navbar-top">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-6">
          <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
          <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
          <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
          <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
        </div>
        <div class="col-6">
          <div class="d-flex ml-auto">
            <a href="#" class="d-flex align-items-center ml-auto mr-4">
              <span class="icon-phone mr-2"></span>
              <span class="d-none d-md-inline-block">volkizmodelmeister@gmail.com</span>
            </a>
            <a href="#" class="d-flex align-items-center">
              <span class="icon-envelope mr-2"></span>
              <span class="d-none d-md-inline-block">+380987437489</span>
            </a>
            <mat-form-field>
              <mat-select [(value)]="currentLang">
                <mat-option [value]="language.code" *ngFor="let language of languageList" class="lang-option">{{language.label}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <select [(value)]="currentLang" class="lang-selector ml-auto">
              <option [ngValue]="language" *ngFor="let language of languageList" class="lang-option">
                {{language.label}}
              </option>
            </select> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-navbar">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-2">
          <app-main-logo></app-main-logo>
        </div>
        <div class="col-10">
          <app-menu></app-menu>
        </div>
      </div>
    </div>
  </div>
</div>
